OUT_PORT=8443

JWT_SECRET=wut

PROM_PORT=9090
# this hash is generated with : htpasswd -nbB admin admin
PROM_HASH=$2y$05$29xV50WIgdOcLtFwKnr9cObGlS9booo97Ny7gRxAuADkwF9rS3nD.
PROM_PASS=admin

GRAPH_PORT=3000

ELK_PORT=5601

GOOGLE_CALLBACK_URL=https://localhost:8443/api/v1
GOOGLE_CLIENT_SECRET=susAF
GOOGLE_CLIENT_ID=Really

AVAX_PRIVATE_KEY=<private-key>
AVAX_RPC_URL=<url>
AVAX_CONTRACT_ADDR=<pub key of contract>

SMTP_SMARTHOST=<the host of the smtp server>
SMTP_FROM=<the address to send from>
SMTP_AUTH_USERNAME=<smtp-user>
SMTP_AUTH_PASSWORD=<smtp pass>
EMAIL_TO=<mail to send to>

CORS_ORIGIN=<the url of origin for cors>
